@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
/*------------------
       header
-------------------*/
.header {
  background: rgba(255, 144, 14, 0.1);
}
.header-title {
  font-weight: 700;
  font-size: 35px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar,
ul {
  display: flex;
}
.navbar,
ul,
.anchor-nav {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}
ul,
li {
  list-style: none;
  margin-right: 30px;
}
/*---------banner----------*/
.banner {
  background: rgba(255, 144, 14, 0.1);
}
.banner-details {
  padding: 50px;
  text-align: center;
}
.banner-title {
  font-weight: 700;
  font-size: 35px;
  padding: 0 250px;
}
.banner-info {
  font-weight: 400;
  font-size: 16px;
  padding: 30px 150px;
}
.btn-primary {
  padding: 20px;
  border: 0;
  border-radius: 10px;
  background: #ff900e;
}
.banner-banner {
  padding: 0 150px 10px 260px;
}
.banner-banner,
img {
  width: 700px;
}
.container {
  padding: 30px 100px;
}
.image {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}
/*------------quick feature-------------*/
.feature-thumbnail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  padding: 0 70px;
}
.features {
  display: flex;
  gap: 30px;
}
.feature-details {
}
.feature-title {
  padding-top: 80px;
  font-weight: 500;
  font-size: 35px;
}
.title-gray {
  color: #727272;
}
.title-orange {
  color: #ff900e;
}
.feature-info {
  color: #727272;
  padding: 10px 0;
}
/*------------feature love and enjoy-------------*/
.second-feature {
  display: flex;
  gap: 60px;
}
.second-feature-image,
.second-feature-img-img {
  width: 440px;
  border-radius: 10px;
  position: relative;
}
.second-feature-title {
  font-weight: 700;
  font-size: 35px;
  padding: 15px 0;
}
.title {
  border-left: 5px solid #ff900e;
  border-radius: 3px;
}
.section-feature-info {
  color: #727272;
  padding-bottom: 10px;
  padding-left: 5px;
}
.second-feature-sub-information {
  margin: 15px 0;
  padding: 5px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.section-feature-subtitle {
  font-weight: 600;
  font-size: 20px;
}
.section-feature-subinfo {
  color: #727272;
}
.btn {
  padding: 10px;
  border: 0;
  border-radius: 8px;
  background: #ff900e;
  font-weight: 700;
  font-size: 30px;
  color: white;
  position: absolute;
  bottom: 20px;
  right: 340px;
}
.text-size {
  font-size: 16px;
}
/*---------------
      service
---------------*/
.service-info-div {
  text-align: center;
}
.service-title {
  font-weight: 700;
  font-size: 45px;
  padding: 10px 0;
}
.title-pink {
  color: rgb(238, 77, 131);
}
.service-info {
  padding: 10px 5px;
  /*border-bottom: 1px solid palevioletred;*/
}
.service-container {
  display: flex;
  gap: 30px;
  padding: 20px 0;
}
.service-container-one {
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.service-logo {
  width: 30px;
  padding: 0 10px;
}
.service-container-title {
  padding: 15px 0;
  font-weight: 600;
  font-size: 20px;
}
.service-container-details {
  font-weight: 400;
  font-size: 18px;
}
/*--------------Facts-------------*/
.facts-title {
  font-weight: 700;
  font-size: 35px;
}
.facts-info {
  padding: 10px 80px 30px 0;
}
.facts-container {
  display: flex;
  gap: 60px;
  justify-content: center;
  padding: 20px;
}
.facts-image {
  padding: 0 20px;
  width: 60%;
}
.facts-div {
  padding: 10px;
  text-align: center;
  border: 1px solid #ff900e;
  border-radius: 8px;
}
.facts-div:hover {
  transform: scale(1.5);
  transition-duration: 1s;
  transition-timing-function: ease;
  background-color: rgb(118, 243, 201);
  color: white;
}
.facts-image:hover {
  transform: rotate(0.5turn);
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}
/*----------------
------------------
      sponsors
------------------
-----------------*/
.sponsors-info {
  text-align: center;
}
.sponsors-title {
  font-weight: 700;
  font-size: 40px;
  padding: 10px 0;
}
.sponsors-details {
  font-weight: 400;
  font-size: 18px;
  padding: 10px 50px;
}
.sponsors-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 10px 30px;
  column-gap: 40px;
}
.sponsors-img {
  width: 120px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/*-------footer-------*/
.footer {
  background: #fff4e7;
  border-radius: 8px;
  width: 75%;
  text-align: center;
  padding: 30px;
  margin: 20px 90px;
  font-size: 18px;
}
/*--------------------
---------------------
    media query
--------------------
------------------*/
/*-----------------small device-----------------*/
@media screen and (max-width: 576px) {
  /* header*/
  .navbar {
    flex-direction: column;
  }
  .navbar,
  ul {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  /*banner*/
  .banner-title {
    font-weight: 700;
    font-size: 35px;
    padding: 0px 0px;
  }
  .banner-info {
    padding: 0;
  }
  .banner-banner,
  img {
    width: 90%;
    padding-left: 38px;
  }
  .banner-banner {
    padding: 0;
  }
  /*quick feature*/
  .features {
    flex-direction: column;
    align-items: center;
  }
  .feature-thumbnail {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .feature-details {
    width: 225px;
  }
  .feature-title {
    padding-top: 25px;
  }
  .image {
    width: 200px;
    height: 200px;
    padding: 0 10px;
  }
  /*feature love and enjoy*/
  .second-feature {
    flex-direction: column;
    align-items: center;
  }
  .second-feature-image,
  .second-feature-img-img {
    width: 200px;
    border-radius: 10px;
    padding: 0;
  }
  .btn {
    padding: 10px;
    bottom: -50px;
    right: 80px;
  }
  /*service*/
  .service-container {
    flex-direction: column;
  }
  .service-title {
    font-weight: 700;
    font-size: 35px;
    padding: 10px 16px;
  }
  /*-------------------
         Facts
  -------------------*/
  .facts-container {
    gap: 30px;
    flex-direction: column;
  }
  .facts-info {
    padding: 0;
  }
  /*sponsors*/
  .sponsors-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
    justify-content: center;
    align-items: center;
  }
  .sponsors-title {
    font-size: 25px;
  }
  .sponsors-details {
    padding: 10px 0px;
  }
  .sponsors-img {
    width: 50px;
  }
  /*footer*/
  .footer {
    margin: 0;
  }
}
